@model IEnumerable<Restaurant.Models.Order>

@{
    ViewData["Title"] = "Заказы";
}

<h1>Мои заказы</h1>

<table class="table text-center">
    <thead>
    <tr>
        <th>
            Номер заказа
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DeliveryMethod)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
                <td>
                    @item.Id
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DeliveryMethod)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalPrice) ₽ 
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
        </tr>
    }
    </tbody>
</table>
